.our-mission {
  margin: 90px 185px 225px 190px;
}

.last-news {
  margin: 0 185px 225px 190px;

  .news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .news-content {
    display: flex;

    .news-left-content {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .news-more-info {
    display: none;
  }
}

.last-playlists {
  margin: 0 185px 225px 190px;

  .playlists-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .playlists-content {
    display: flex;


    .playlists-draggable {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    article {
      margin: 10px;
    }

    .playlists-more-info {
      display: none;
    }
  }
}

@media screen and (max-width: $mobile) {
  .our-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 27px 25px 25px 40px;

    .lead-paragraph {
    }

    h1 {
      text-align: center;
    }

    p {
      line-height: 24px;
    }

    a {
    }
  }
  .last-news {
    margin: 0px 25px 25px 40px;

    .news-header {
      display: unset;
      text-align: center;
      a {
        display: none;
      }
    }

    .news-content {
      overflow-x: scroll;

      .news-left-content {
        flex-wrap: nowrap;
      }
    }

    .news-more-info {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .last-playlists {
    margin: 0px 25px 25px 40px;

    .playlists-header {
      display: unset;
      text-align: center;

      a {
        display: none;
      }
    }

    .playlists-content {
      overflow-x: scroll;

      .playlists-draggable {
        flex-wrap: nowrap;
      }

      .playlists-more-info {
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }
}