/* Home page */

section.carrousel {
  margin-top: 100px;
}

header {
  position: fixed;
}

.our-mission {
  margin-top: 90px;
}

.last-news {
  .news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .news-content {
    display: flex;

    .news-left-content {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .news-more-info {
    display: none;
  }
}

.last-playlists {
  .playlists-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .playlists-content {
    display: flex;

    .playlists-draggable {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    article {
      margin: 10px;
    }

    .playlists-more-info {
      display: none;
    }
  }
}

/* News page */

.news {
  margin-top: 200px;

  .news-ctnr {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px);
  }
}

/* Contact page */

.contact {
  margin-top: 200px;

  .form {
    .form-group {
      &.submit {
        text-align: end;
      }
    }
  }
}

/* About us page */

.about-our-site {
  margin-top: 200px;

  p {
    line-height: 25px;
  }
}

.our-crew {
  display: flex;
  flex-direction: column;

  p {
    margin-right: 30px;
    line-height: 25px;
    flex-basis: 60%;
  }

  .our-crew-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    height: 200px;
    height: 207px;
    border-radius: 10px;
  }
}

.our-mission {
  display: flex;
  flex-direction: column;

  p {
    margin-left: 30px;
    line-height: 25px;
    flex-basis: 60%;
  }

  .our-mission-content {
    display: flex;
    align-items: center;
  }

  img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }
}

.our-platform {
  display: flex;
  flex-direction: column;

  .our-platform-content {
    display: flex;
    flex-direction: column;

    .our-platform-top-content {
      margin-top: -60px;
      display: flex;
      align-items: center;

      img {
        height: 200px;
        border-radius: 10px;
      }
    }

    p {
      line-height: 25px;
    }
  }

  img {
    float: right;
    clear: both;
  }
}

@media screen and (max-width: $tablet) {
  /* General */

  html {
    font-size: 14px;
  }

  /* News page */

  .news {
    margin-top: 150px;

    .news-ctnr {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 320px);
    }
  }
}

@media screen and (max-width: $mobile) {
  /* General */

  html {
    font-size: 12px;
  }

  /* Home page */

  .our-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;

    h1 {
      text-align: center;
    }

    p {
      line-height: 24px;
    }
  }

  .last-news {
    .news-header {
      display: unset;
      text-align: center;

      a {
        display: none;
      }
    }

    .news-content {
      overflow-x: scroll;

      .news-left-content {
        flex-wrap: nowrap;
      }

      .news-right-content {
        display: none;
      }
    }

    .news-more-info {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .last-playlists {
    .playlists-header {
      display: unset;
      text-align: center;

      a {
        display: none;
      }
    }

    .playlists-content {
      overflow-x: scroll;

      .playlists-draggable {
        flex-wrap: nowrap;
      }

      .playlists-more-info {
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }

  /* Contact page */

  .contact {
    margin-top: 150px;
  
    .form {
      .form-group {
        &.submit {
          text-align: center;
        }
      }
    }
  }

  /* About us page */

  .about-our-site {
    margin-top: 160px;
    text-align: center;
  }

  .our-crew {
    text-align: center;

    .our-crew-content {
      flex-direction: column-reverse;
    }

    img {
      width: 317px;
      height: 167px;
    }
  }

  .our-mission {
    text-align: center;

    .our-mission-content {
      flex-direction: column;
    }
  }

  .our-platform {
    text-align: center;

    .our-platform-content {
      align-items: center;

      .our-platform-top-content {
        margin-top: 0;
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }
}