:root {
    --black: #{$black};
    --white: #{$white};
    --whitless: #{$whitless};
    --yellow: #{$yellow};
    --yellowless: #{$yellowless};
    --red-error: #{$red-error};
    --green-success: #{$green-success};
}

* {
    box-sizing: border-box;
}

.pattern-head {
    margin: 2em 0;
    padding: 1em 0;
    font-size: 70%;
    color: var(--whitless);
    border-bottom: 1px solid var(--whitless);
}

.pattern-title {
    font-family: $montserrat;
}

.pattern-text {
    font-family: $lato;
}

body {
    background-color: var(--black);
    color: var(--white);

    main {
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        font-family: $montserrat;

        h1 {
            font-size: 3rem;

            small {
                font-size: 1.5rem;
                color: var(--whitless);
            }
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1.25rem;
        }

        h5 {
            font-size: 1rem;
        }

        h6 {
            font-size: 0.75rem;
        }

        p {
            font-family: $lato;
        }
    } 
}