:root {
    --blacker: #{$blacker};
    --black: #{$black};
    --blackless: #{$blackless};
    --white: #{$white};
    --whitless: #{$whitless};
    --yellow: #{$yellow};
    --yellowless: #{$yellowless};
    --red-error: #{$red-error};
    --green-success: #{$green-success};
    --orange: #{$orange};
    --blue: #{$blue};
    --red: #{$red};
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: $montserrat;
}

main {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
}

section {
    margin: 0 185px 225px 190px;
}

h1 {
    font-size: rem(48);

    small {
        color: var(--whitless);
        font-size: rem(24);
    }
}

h2 {
    font-size: rem(32);

    &.pattern-category {
        margin: 2em 0;
        padding: 1em 0;
        border-bottom: 1px solid var(--whitless);
        color: var(--whitless);
        font-size: 70%;
    }
}

h3 {
    font-size: rem(24);
}

h4 {
    font-size: rem(20);
}

h5 {
    font-size: rem(16);
}

h6 {
    font-size: rem(12);
}

a {
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        color: var(--yellow);
    }
}

p {
    font-size: 1rem;
    font-family: $lato;

    &.lead-paragraph {
        font-size: rem(20);
    }
}

span {
    &.pattern-title {
        font-family: $montserrat;
    }

    &.pattern-text {
        font-family: $lato;
    }
}

.wrap-ctnr {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.row-ctnr {
    display: flex;
    flex-flow: row nowrap;
}

@media screen and (max-width: $tablet) {
    html {
        font-size: 14px;
    }

    section {
        margin: 0 25px 25px 40px;
    }
}

@media screen and (max-width: $mobile) {
    html {
        font-size: 12px;
    }

    .row-ctnr {
        flex-flow: column nowrap;
    }
}