.badge {
  background-color: var(--black);
  font-weight: 700;
  padding: 5px 10px;
  margin: 2px;
  font-size: rem(16);
  text-transform: uppercase;

  &--red {
    color: var(--black-lighter);
    background-color: var(--red);
  }

  &--blue {
    color: var(--black-lighter);
    background-color: var(--blue);
  }

  &--orange {
    color: var(--black-lighter);
    background-color: var(--orange);
  }
}