.badge {
  background-color: $black;
  font-weight: 700;
  padding: 5px 10px;
  font-size: rem(16);

  &--red {
    color: $black;
    background-color: $red;
  }

  &--blue {
    color: $black;
    background-color: $blue;
  }

  &--orange {
    color: $black;
    background-color: $orange;
  }
}