.badge {
  margin: 2px;
  padding: 5px 10px;
  background-color: var(--blacker);
  font-size: rem(16);
  font-weight: 700;
  text-transform: uppercase;

  &--red {
    color: var(--black);
    background-color: var(--red);
  }

  &--blue {
    color: var(--black);
    background-color: var(--blue);
  }

  &--orange {
    color: var(--black);
    background-color: var(--orange);
  }
}