.btn {
    display: inline-block;
    margin: 5px;
    padding: 15px;
    background-color: transparent;
    border: solid 2px var(--yellow);
    text-align: center;
    white-space: nowrap;
    color: $white;
    font-size: rem(16);
    font-family: $lato;
    text-decoration: none;
	cursor: pointer;
    transition:  0.3s;

    &:hover {
        background-color: var(--yellow);
        color: var(--black);
    }

    &--disabled {
        border-color: var(--yellowless);
        color: var(--whitless);
        pointer-events: none;
        cursor: not-allowed;

        &:hover {
            background-color: transparent;
            color: var(--whitless);
        }
    }

    &--link {
        border-radius: 50px;
    }
}