.card-playlist {
    width: 400px;
    height: 450px;
    background-color: var(--white);
    transition:  0.3s;

    .card-img {
        position: relative;
        width: 100%;
        height: 400px;

        .card-badges {
            position: absolute;
            top: 25px;
            left: 25px;
            width: 100%;
            transform: rotate(-3.5deg);

            .badge {
                position: absolute;

                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }

                &:nth-child(2) {
                    top: 25px;
                    left: 0;
                }
            }
        }

        .card-overlay {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 400px;
            background-color: var(--blackless);
            @include flex-center;
            transition: 0.3s;
        }

        img {
            @include bg-cover;
        }
    }

    .card-title {
        width: 100%;
        height: 50px;
        border-top: solid 1px var(--blacker);
        @include flex-center;
        h3 {
            margin: 0;
            color: var(--blacker);
        }
    }

    &:hover {
        .card-img {
            .card-overlay {
                opacity: 1;
            }
        }
    }

    @media screen and (max-width: $mobile) {
        width: 250px;
        height: 300px;

        .card-img {
            height: 250px;

            .card-badges {
                transform: scale(0.75) rotate(-5deg);
                top: 15px;
                left: -15px;
            }

            .card-overlay {
                opacity: 1;
                height: 250px;
            }
        }
    }
}