footer {
    width: 100%;
    padding: 25px 75px;
    background-color: var(--blacker);

    .footer-content {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;

        .footer-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid var(--whitless);
        }

        .footer-bottom {
            display: flex;
            justify-content: space-between;
            padding: 20px 0 5px 0px;
            color: var(--whitless);
        }

        .footer-logo {
            width: 100px;
            height: 100px;
            
            img {
                height: 100%;
            }
        }

        nav {
            width: 130px;
            ul {
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: column;

                li {
                    margin-bottom: 10px;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: var(--whitless);

                        &:hover {
                            color: var(--yellowless);

                            #icon-twitter, #icon-facebook, #icon-instagram {
                                fill: var(--yellowless);
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: $tablet) {
        padding: 25px 50px;

        .footer-content {

            .footer-top {
                flex-direction: column;
                align-items: center;
            }

            .footer-bottom {
                flex-direction: column;
                align-items: center;
            }

            nav {
                margin-top: 25px;
                width: 120px;
            }
        }
    }
}